@import '_shared.scss';
@import '_variables.scss';

header {
    nav {
        padding-left: 65px;
        padding-right: 65px;
        padding-top: 23px;
        height: auto;
        
        #sidebar .main {
            margin-top: 0;
            padding-left: 0;
            padding-right: 18.67px;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
        #sidebar {
            display: none;
            position: fixed;
            top:0;
            right: 0;
            list-style-type: none;
            background-color: $primaryColor;
            height: 100vh;
            padding-top: 65px;
            padding-left: 15px;
            width: 375px;
            margin: 0;
            font-weight: medium;
            font-size: 24px;
            li {
                margin-top: 24px;
                padding-left: 5px;
                ul { 
                    list-style-type: none;
                    padding-left: 0;
                    margin-top: 24px;
                    li {
                        margin-bottom: 16px;
                        margin-top: 0;
                        font-weight: regular;
                        font-size: 16px;
                    }
                }
            }
            .text-l {
                margin-top: 32px;
            }
            .social {
                padding-left: 0;
                ul {
                    padding-left: 1px;
                    display: inline;
                    li {
                        display: inline;
                        padding-left: 0;
                    }
                }
            }
        }
        .menu-button{
            display: none;
        }

        .navigation {
            position: relative;
            width: 1020px;

            .button {
                margin-top: 25px;
                padding: 13.5px 24px 13.5px 24px;
            }
            .navigation-contur {
                position: absolute;
                bottom: -1px;
                left: -35px;
                z-index: -1;
            }
        }
        .pages {
            
            margin-bottom: 6px;
            align-self: flex-end;

            .navigation-link {
                padding: 10px 24px;

            }

        }
    }
    .container {

        .menu-block {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: end;
            
            .site-settings {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;
                width: 346px;
            }
        }
    }
    .mobile {
        display: none;
        margin: 16px 36px;
        height: 30px;
        width: 204px;
        justify-content: space-between;
        align-items: center;
        a {
            color: #F8F8F8;
            font-weight: regular;
            font-size: 16px;
        }
        p {
            margin: 0;
            display: block;
            font-weight: bold;
            font-size: 16px;
            line-height: auto;
        }
        div.vertical-line{
            display: block;
            width: 1px;
            background-color: $headerTextColor; /* Line color */
            height: 30px; /* Override in-line if you want specific height. */
            float: left; /* Causes the line to float to left of content. 
              You can instead use position:absolute or display:inline-block
              if this fits better with your design */
          }
    }
    .desktop {
        margin: 205px 0 0 240px;
        p {
            margin: 0;
            width: 400px;
            font-size: 16px;
            line-height: 113.7%;
        }
        .button {
            margin-top: 56px;
        }
    }

    & {
        height: 980px;
        z-index: 2;
        color: $headerTextColor;
        font-family: Roboto Regular;
        font-size: 18px;
        line-height: 144.7%;
        width: 100%;
    }
}

.header-background {
    background-image: url('../../../resourses/header-image.png');
    background-size: cover;
    background-position: center;
    position: relative;
}

.header-background::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(20, 21, 22, 0.48);
    z-index: -1;
}
.dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {

    border-radius: 15px;
    margin-top: 10px;
    display: none;
    position: absolute;
    background-color: $primaryColor;
    width: 174px;

    padding: 20px 24px;

    z-index: 3;

    ul {
        list-style-type: none;
        padding: 0;
        margin: 24px 0 30px;
        li {
            margin-bottom: 14px;
        }
    }
    ul:last-child {
        margin-bottom: 0;

        li:last-child {
            margin-bottom: 0;
        }
    }
    .text-s-b {
        font-size: 16px;
        font-weight: bold;
        line-height: normal;
    }
    .text-s {
        font-size: 16px;
        font-weight: regular;
        line-height: 133.2%;
    }
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
}
    
  .navigation-link:hover, .dropdown:hover .a:hover, .dropdown:hover .dropbtn {
    transition-duration: 0.7s;
    transition-property: background-color;
    background-color: $primaryColor;
    border-radius: $baseBorderRadius;
}