@import '_shared.scss';
@import '_variables.scss';

.section5 {
    height: 888px;
    position: relative;
    margin-left: 0;
    margin-right: 0;
    padding-left: 0;
    padding-right: 12.5%;
    background-color: #F8F8F8;
    h3 {
        font-family: Impact Regular;
        font-size: 34px;
        line-height: normal;
    }
    .caption {
        font-family: Roboto Regular;
        font-size: 18px;
        line-height: 144.7%;
    }
    span {
        font-family: Roboto Bold;
        font-size: 18px;
        line-height: 21.1px;
    }
    
    form {
        margin: auto;
        width: 420px;
        .title {
            margin-bottom: 48px;
        }
        
        h3 {
            margin-bottom: 16px;
        }

        .form-inputs-container {
            margin-bottom: 56px;
            .input-block {
                margin: 0 0 38px 0;
                span {
                    margin-bottom: 16px;
                }
            }
            
        }
    }
    .red-dots {
        position: absolute;
        right: 30px;
        bottom: 32px;
    }
    .blue-dots {
        position: absolute;
        left: 37.55%;
        top: 186px;
        z-index: 0;
    }
}