@import '../../fonts/roboto-webfont/style.css';
@import '../../fonts/impact-webfont/style.css';

$primaryColor: #883CDA;
$headerTextColor: #FFFFFF;
$mainTextColor: #FFFFFF;
$white: #FFFFFF;
$shadowColor: #E2E0E0;
$blockShadowColor: #F1F1F1;
$grayColor: #A5A5A9;

$baseBorderRadius: 35px;

// section1 card colors

$redCard: #FB7C84;
$orangeCard: #FFB865;
$acidCard: #D4EE47;
$greenCard: #6ED6A4;
$purpleCard: #883CDA;
$blueCard: #5AC4FF;